In [1]:
import pandas as pd

In [18]:
covid = pd.read_csv('../data/covid.csv')
snp = pd.read_csv('../data/snp.csv')
econ_factors = pd.read_csv('../data/econ_factors.csv')
manufacturing = pd.read_csv('../data/manufacturing.csv')
gdp = pd.read_csv('../data/gdp.csv')

In [20]:
covid = covid[["formatted_date", "new_cases"]]
snp = snp[["formatted_date", "SnP_Close", "SnP_Volume", "VIX"]]
econ_factors = econ_factors[["formatted_date", "UNRATE"]]
manufacturing = manufacturing[["formatted_date", "total_manufacturing"]]

In [25]:
snp.head()

   formatted_date  SnP_Close    SnP_Volume       VIX
0        20200101    3230.78  2.894760e+09     13.78
1        20200102    3257.85  3.459930e+09     12.47
2        20200103    3234.85  3.484700e+09  44971.00
3        20200106    3246.28  3.702460e+09     13.85
4        20200107    3237.18  3.435910e+09     13.79

In [69]:
result_df = pd.DataFrame()

In [57]:
# snp to monthly
snp_cleaned = pd.DataFrame()
snp["formatted_date"] = snp["formatted_date"].astype(int).astype(str)
for year in ["2020", "2021"]:
    for month in range(1, 13):
        month = year + (str(month).zfill(2))
        temp_snp_monthly = snp[snp['formatted_date'].str.contains(month)].mean()
        temp_snp_monthly["formatted_month"] = month
        temp_snp_monthly = temp_snp_monthly.to_frame().T
        temp_snp_monthly.drop("formatted_date", axis=1, inplace=True)
        snp_cleaned = pd.concat([snp_cleaned, temp_snp_monthly], axis=0)

In [67]:
# covid to monthly
covid_cleaned = pd.DataFrame()
covid["formatted_date"] = covid["formatted_date"].astype(int).astype(str)
for year in ["2020", "2021"]:
    for month in range(1, 13):
        month = year + (str(month).zfill(2))
        temp_covid_monthly = covid[covid['formatted_date'].str.contains(month)].mean()
        temp_covid_monthly["formatted_month"] = month
        temp_covid_monthly = temp_covid_monthly.to_frame().T
        temp_covid_monthly.drop("formatted_date", axis=1, inplace=True)
        covid_cleaned = pd.concat([covid_cleaned, temp_covid_monthly], axis=0)

In [ ]:
# gdp to monthly
gdp['formatted_date'] = pd.to_datetime(gdp['formatted_date'], format='%Y%m%d')
gdp = gdp.set_index('formatted_date')
date_range = pd.date_range(start='2020-01-01', end='2021-10-01', freq='MS')
gdp_cleaned = gdp.reindex(date_range).interpolate(method='linear')
gdp_cleaned.index = gdp_cleaned.index.astype("str").map(lambda x: int(x.replace('-', '')))

In [72]:
gdp[["GDPNOW","formatted_date"]]

   GDPNOW formatted_date
0    0.00       20200101
1   -0.10       20200401
2    0.08       20200701
3    0.02       20201001
4    0.03       20210101
5    0.03       20210401
6    0.02       20210701
7    0.03       20211001

In [83]:
import pandas as pd

# Create the sample dataframe
data = {
    "GDPNOW": [0.00, -0.10, 0.08, 0.02, 0.03, 0.03, 0.02, 0.03],
    "formatted_date": [
        "20200101", "20200401", "20200701", "20201001", "20210101", "20210401", "20210701", "20211001"
    ]
}

gdp = pd.DataFrame(data)

gdp['formatted_date'] = pd.to_datetime(gdp['formatted_date'], format='%Y%m%d')
gdp = gdp.set_index('formatted_date')
date_range = pd.date_range(start='2020-01-01', end='2021-10-01', freq='MS')
gdp_df_monthly = gdp.reindex(date_range).interpolate(method='linear')
gdp_df_monthly.index = gdp_df_monthly.index.astype("str").map(lambda x: int(x.replace('-', '')))
(gdp_df_monthly)

              GDPNOW
2020-01-01  0.000000
2020-02-01 -0.033333
2020-03-01 -0.066667
2020-04-01 -0.100000
2020-05-01 -0.040000
2020-06-01  0.020000
2020-07-01  0.080000
2020-08-01  0.060000
2020-09-01  0.040000
2020-10-01  0.020000
2020-11-01  0.023333
2020-12-01  0.026667
2021-01-01  0.030000
2021-02-01  0.030000
2021-03-01  0.030000
2021-04-01  0.030000
2021-05-01  0.026667
2021-06-01  0.023333
2021-07-01  0.020000
2021-08-01  0.023333
2021-09-01  0.026667
2021-10-01  0.030000

            GDPNOW
20200101  0.000000
20200201 -0.033333
20200301 -0.066667
20200401 -0.100000
20200501 -0.040000
20200601  0.020000
20200701  0.080000
20200801  0.060000
20200901  0.040000
20201001  0.020000
20201101  0.023333
20201201  0.026667
20210101  0.030000
20210201  0.030000
20210301  0.030000
20210401  0.030000
20210501  0.026667
20210601  0.023333
20210701  0.020000
20210801  0.023333
20210901  0.026667
20211001  0.030000